<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.providential.nivesh_sdk">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nivesh_SDK"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.providential.nivesh_sdk.ClientId"
            android:value="15pmghs05glcnhjhs8g6oprqu9"/>

        <meta-data
            android:name="com.providential.nivesh_sdk.ThemeColor"
            android:value="8334eb|FFFFFF|8334eb|8334eb|8334eb|8334eb"/> <!--header_color| txt_header_color| primary_button_color| secondary_button_color
            | primary_text_color| secondary_text_color-->



        <receiver android:name=".CustomBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.providential.nivesh.passdata"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>